﻿
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model BOL.Quiz


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">

        <tr>

            <th>
                <h3>Question</h3>
            </th>
            <th>
                <h3>Option_1</h3>

            </th>
            <th>
                <h3>Option 2</h3>

            </th>
            <th>
                <h3>Option 3</h3>
            </th>
            <th>
                <h3>Option 4</h3>
            </th>
            <th>
                <h3>Answer</h3>

            </th>

            <th></th>
        </tr>

        @for (int i = 0; i < Model.Questions.Count; i++)
                {
            <tr>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(modelItem => Model.Questions[i].Quiz_Question_ID)

                <td>
                    @Html.EditorFor(modelItem => Model.Questions[i].Question, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Questions[i].Question, "", new { @class = "text-danger" })
                </td>



                <td>
                    @Html.EditorFor(modelItem => Model.Questions[i].Option_1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Questions[i].Option_1, "", new { @class = "text-danger" })
                </td>

                <td>
                    @Html.EditorFor(modelItem => Model.Questions[i].Option_2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Questions[i].Option_2, "", new { @class = "text-danger" })

                </td>

                <td>
                    @Html.EditorFor(modelItem => Model.Questions[i].Option_3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Questions[i].Option_3, "", new { @class = "text-danger" })
                </td>


                <td>
                    @Html.EditorFor(modelItem => Model.Questions[i].Option_4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Questions[i].Option_4, "", new { @class = "text-danger" })
                </td>

                <td>
                    @Html.EditorFor(modelItem => Model.Questions[i].Answer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Questions[i].Answer, "", new { @class = "text-danger" })
                </td>
            </tr>
        }
    </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

